/* CSS yang masih digunakan dalam HTML */

body {
    background-color: #121212;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}





.services_box:hover {
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.6);
    transform: scale(1.03);
}



/* Responsive */
@media (max-width: 768px) {
    .services_box {
        width: 90%;
    }
}

.item-section {
    margin-top: 80px; /* Tambahkan jarak antara navbar dan section card */
    height: 100vh;
    overflow-y: auto;
    padding: 20px 0;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ini akan memposisikan item ke tengah */
    gap: 20px; /* Perkecil jaraknya, misalnya dari 40px jadi 20px */
    padding: 20px;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 20px;
    justify-content: center;
    padding-bottom: 40px;
}

.services_section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 24px; /* jarak antar item */
}


    .services_box {
        border: 2px solid yellow;
        padding: 10px;
        border-radius: 10px;
        background-color: #1e1e1e;
        text-align: center;
        color: white;
    }

    .services_box img {
    width: 200px;
    height: 200px;
    object-fit: cover;   /* crop jika perlu */
    object-position: center;
}


    .item_text {
        margin-top: 10px;
        font-size: 16px;
    }