/* styles.css */

/* .outline-box {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
} */

.outline-box {
    border: 5px solid;
    border-image: linear-gradient(to right, #111111, #fff) 1;
    border-radius: 10px; /* Optional for rounded corners */
    padding: 10px;
}
